.container{
    width: 80%;
    height: 800px;
    margin: auto;
    display: flex;
    margin-top: 70px;
   justify-content: space-between; 
}
.container>div:nth-child(1){
    width: 25%;
 background-color: #202124;
 border-radius: 10px;
}
.container>div:nth-child(2){
    
    height: 800px;
    width: 70%; 
}

h2{
    font-size: 38px;
    font-family: Helvetica;
   font-weight: bolder;
}


img{
    width: 100%; 
}
button{
    margin-top: 20px;
   height: 50px;
   width: 25%;
   border-radius: 25px;
   border: 1px solid black;
   font-weight: 500;
   font-family: Helvetica;
}
button:hover{
   background-color: rgb(192, 190, 190);
   
}
.first{
   
   height: 55px;
   display: flex;
   width: 30%;
   margin-left: 60px;
}
.first>div{
   width: 20px;
  margin: auto;
   height: 70px;
   background-color: red;  
}
.sec{
 
   height: 300px;
   margin-top: 60px;
   width: 70%;
   margin-left: 50px;
}
.sec>div{
   height: 100px;
   width: 45%;
   border-radius: 200px;
   margin-bottom: 40px;
}
.sec>p{
   color: white;
   font-family: Helvetica;
}
.thir{
  
   height: 250px;
   margin-top: 50px;
   width: 70%;
   margin-left: 50px;
}
a{
   text-decoration: none;
}
.thir>a>p{
   color: rgb(141, 126, 126);
   font-size: 16px;
   
   font-family: Helvetica;
   
}
h1{
font-family: Helvetica;
color: white;
}
.thir>a>p:hover{
   color: white;
}
img{
   border-radius: 100px;
}
